/*link as button*/
.button-link {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: var(--primary-kacubo);
    color: white;
    padding: 2px 6px 2px 6px;
    pointer-events: stroke;
    justify-content: center;
}